<div class="route-form">

  <storybook-header-momentos title="Opciones de Planes"/>

  <div class="form-section">
    
    <fieldset>
      <legend>Punto en Ruta Laboral: ID Ruta</legend>
      
      <app-input 
        label="Campo" 
        placeholder="Escribe aquí..." 
        type="textField" 
        showIcon/>
      
      <app-input 
        label="Campo" 
        placeholder="Escribe aquí..." 
        type="textField" 
        showIcon/>
      
      <app-input 
        label="Campo" 
        placeholder="Escribe aquí..." 
        type="textField" 
        showIcon/>

      <p class="hint">(+) Añade más campos si es necesario</p>
    </fieldset>

    <div class="option-box">
      <storybook-checkbox-text label="Aceptar no codificado"/>
    </div>

  </div>

  <div class="action-bar">
    <app-button 
      label="Confirmar" 
      full-width 
      primary 
      filled 
      active/>
    
    <app-button 
      label="Cancelar" 
      full-width 
      error 
      text 
      active/>
  </div>

</div>