<div class="main-container">

    <storybook-header-momentos 
        title="Ver planes disponibles">
    </storybook-header-momentos>

    <section class="form-section">
        <h5 class="section-label">Punto a adicionar a la ruta de labor : Identificador Ruta</h5>
        
        <div class="inputs-group">
            <app-input 
                label="Label Name" 
                placeholder="Placeholder" 
                type="textField">
            </app-input>
            
            <app-input 
                label="Label Name" 
                placeholder="Placeholder" 
                type="textField">
            </app-input>
            
            <app-input 
                label="Label Name" 
                placeholder="Placeholder" 
                type="textField">
            </app-input>
            
            <h5 class="info-text">Agrega aquí tus inputs</h5>
        </div>
    </section>

    <section class="form-section">
        <h5 class="section-label">Punto a adicionar a la ruta de labor : Identificador Ruta</h5>
        
        <storybook-checkbox-text 
            label="Sí, puede ser no codificado">
        </storybook-checkbox-text>
    </section>

    <div class="buttons-container">
        <app-button 
            label="button" 
            width="100%" 
            color="primary" 
            styles="filled" 
            state="active">
        </app-button>
        
        <app-button 
            label="button" 
            width="100%" 
            color="error" 
            styles="text" 
            state="active">
        </app-button>
    </div>

</div>