<div class="base-card">
    <storybook-header-momentos title="Ver planes disponibles"></storybook-header-momentos>
    <h4>Punto a adicionar a la ruta de labor : Identificador Ruta</h4>
    <div>
        <app-input label="Label Name" placeholder="Placeholder" type="textField" showIcon="true"></app-input>
        <app-input label="Label Name" placeholder="Placeholder" type="textField" showIcon="true"></app-input>
        <app-input label="Label Name" placeholder="Placeholder" type="textField" showIcon="true"></app-input>
        <h4>Agrega aquí tus inputs</h4>
    </div>
    <h4>Punto a adicionar a la ruta de labor : Identificador Ruta</h4>
    <storybook-checkbox-text label="Sí, puede ser no codificado"></storybook-checkbox-text>

    <div class="but">
    <app-button label="button" width="100%" color="primary" styles="filled" state="active"></app-button>
    <app-button label="button" width="100%" color="error" styles="text" state="active"></app-button>
    </div>

</div>